<!DOCTYPE html>
<html lang="en"
      xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">User Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/users/new}">New User <span class="sr-only">(current)</span></a>

            </li>

        </ul>
    </div>
</nav>

<br /><br /><br />
<div class="container">
    <div class="row">
        <h1>List of Users</h1>
    </div>
    <br />
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th>User Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/users/{userId}/edit(userId=${user.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/users/{userId}/delete(userId=${user.id})}">Delete</a>
                <a class="btn btn-info" th:href="@{/users/{userId}/view(userId=${user.id})}">View</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>